<footer id="layout-footer">
    <div>
        <p>
            &#169; Prince. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <!-- this link not work -->
                    <a href="/users/profile">Profile</a> 
                </li>
            </ul>
        </nav>
    </div>
</footer>