<!-- <h1><%= title %></h1> -->
<link rel="stylesheet" href="/css/home.css">
<div id="home-container">
    <section id="user-updates">

    </section>
    <section id="feed-posts">
        <h3>Posts</h3>
        <% if(locals.user){ %>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" id="" cols="30" rows="3" placeholder="Type here..." required></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %>
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    <%- include('_post') -%>
                <% } %>
            </ul>
        </div>
    </section>
    
    <section id="user-friends">
        <h4>Friends</h4>
        <% for(u of all_users){ %>
            <p>
                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            </p>
        <% } %>
    </section>
</div>

<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>
