<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <h1>Codial / <%= title %></h1>
        <section id="feed-post">
            <h3>Posts</h3>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" id="" cols="30" rows="3" placeholder="Type here..."></textarea>
                <input type="submit" value="Post">
            </form>

            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){ %>
                        <li>
                            <p>
                                <%= post.content %>
                                <br>
                                <small>
                                    <%= post.user.name %>
                                </small>
                            </p>
                        </li>
                    <% } %>
                </ul>
            </div>
        </section>
    </body>
</html>