<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <h1><%= title %></h1>
        <section id="feed-post">
            <h3>Posts</h3>
            <% if(locals.user){ %>
                <form action="/posts/create" id="new-post-form" method="POST">
                    <textarea name="content" id="" cols="30" rows="3" placeholder="Type here..." required></textarea>
                    <input type="submit" value="Post">
                </form>
            <% } %>
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){ %>
                        <%- include('_post') -%>
                    <% } %>
                </ul>
            </div>
        </section>
    </body>
</html>