
<link rel="stylesheet" href="/assets/css/user_sign_up.css">

<div id="sign-up">
    <div id="sign-up-container">
        <div id="sign-up-header">
            <h1>Sign Up</h1>

        </div>

    <div id="sign-up-form">
            <form action="/users/create" method="POST">
                <input class="input-tag" type="text" name="name" placeholder="Your Name" required>
                <input class="input-tag" type="email" name="email" placeholder="Your Email" required>
                <input class="input-tag" type="password" name="password" placeholder="Password" required>
                <input class="input-tag" type="password" name="confirm_password" placeholder="Confirm Password" required>
                <!-- <button>Sign Up</button> -->
                <div id="button-tag">
                    <input class="" type="submit" value="Sign Up">
                </div>
            </form>
    </div>

        <div id="icon">
            <a href="/users/auth/google"><i class="fa-brands fa-google"></i></a>
        </div>
    </div>
</div>