<!-- <h1>Sign In</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Your Password" required>
    <input type="submit" value="Sign In">
</form>

<p>
    <a href="/users/auth/google">Google Sign In/ Sign Up</a>
</p> -->


<div id="sign-in">
    <div id="sign-in-container">
        <div id="sign-in-header">
            <h1>Sign In</h1>

        </div>

    <div id="sign-in-form">
            <form action="/users/create-session" method="POST">
                <input class="input-tag" type="email" name="email" placeholder="Your Email" required>
                <input class="input-tag" type="password" name="password" placeholder="Password" required>
                
                <div id="button-tag">
                    <input class="" type="submit" value="Sign In">
                </div>
            </form>
    </div>

        <div id="icon">
            <a href="/users/auth/google"><i class="fa-brands fa-google"></i></a>
        </div>
    </div>
</div>