<h1>Sign Up</h1>


<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirmed_password" placeholder="Confirmed Password" required>
    <!-- <button>Sign Up</button> -->
    <input type="submit" value="Sign Up">
</form>