#home-container {
    display: flex;
    height: 100vh;
}

#home-container #user-updates {
    width: 100%;
    padding: 10px;
    /* border-right: 1px solid lightgrey; */
    height: 100vh;
}

#home-container #feed-posts {
    width: 100%;
    padding: 10px;
}

#home-container #user-friends {
    width: 100%;
    padding: 10px;
    /* border-left: 1px solid lightgrey; */
    height: 100vh;
    
}

#user-updates-container{
    width: 20%;
    padding: 10px;
    border-right: 1px solid lightgrey;
}

#feed-container{
    width: 60%;
    /* overflow: auto; */
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#feed-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#feed-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#user-friends-container{
    width: 20%;
    /* overflow: auto; */
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 10px;
    border-left: 1px solid lightgrey;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#user-friends-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#user-friends-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#user-friends-container section p a{
    text-decoration: none;
    text-align: justify;
}


#posts-list-container ul{
    list-style: none;
}